[2016-05-02 14:44] bajtos opened #2 "Support array of errors"
Quoting from https://github.com/strongloop/loopback/issues/2123#issuecomment-206335973

We need to support an array of errors here. See how strong-remoting does it now and implement similar logic here: https://github.com/strongloop/strong-remoting/pull/289/files

[2016-05-05 01:46] loay opened #3 "Customize HTML templates"
Customize html templates in strong-error-handler, see https://github.com/strongloop/loopback/issues/1650#issuecomment-161920555 for details.

Configuration options:

[code]

Requires #5

[2016-05-05 15:14] bajtos opened #4 "XML output"
At the moment, the handler can render only HTML, JSON or plain-text responses. We should implement support for XML too.

[2016-05-11 13:37] bajtos opened #5 "HTML output"
Implement HTML output using hard-coded templates shipped as part of this module.

See #1 for inspiration.

Customizing HTML templates is out of scope of this issue, see #3.

[2016-05-11 13:38] bajtos opened #6 "Plain-text output"
Support plain-text response output.

See #1 for inspiration.

[2016-05-11 13:40] bajtos opened #7 "Implement "safeFields" option"
See https://github.com/strongloop/loopback/issues/1650#issuecomment-161920555 for more details.

[2016-05-11 13:41] bajtos opened #8 "Support custom jsonSerializer"
See https://github.com/strongloop/loopback/issues/1650#issuecomment-161920555

[2016-05-13 11:14] #2 closed, assigned to bajtos

[2016-05-17 01:32] davidcheung commented on #6
- [ ] setup structure to handle accepted headers ( should be applicable to all `accepted` )
- [ ] standard method to output
  - template?

[2016-05-17 01:33] davidcheung commented on #5
- [ ] setup structure to handle accepted headers ( should be applicable to all `accepted` )
- [ ] template? ejs? jade?

[2016-05-17 15:30] bajtos commented on #6
@davidcheung KISS, templating is out of scope of this story.

[2016-05-24 20:07] davidcheung opened #13 "Status was present for previous strong-remoting"
https://github.com/strongloop/strong-remoting/blob/ac3093dcfbb787977ca0229b0f672703859e52e1/lib/rest-adapter.js#L394-L398

@bajtos do we want to preserve this behavior?
it fails a couple of test cases, or should we update the test cases?
https://github.com/strongloop/loopback/blob/70cec0755acc2b670987675c3bc63ecbfe9b473f/test/relations.integration.js#L266
https://github.com/strongloop/loopback/blo

[2016-05-25 14:14] bajtos commented on #13
I think `statusCode` is more descriptive/accurate than `status`, let's use `statusCode` from now on and update test cases as necessary. Please mention this change in 3.0-RELEASE-NOTES.

[2016-05-25 15:22] davidcheung commented on #13
agreed, closing this issue now

[2016-05-25 15:22] #13 closed

[2016-06-15 17:41] #5 closed

[2016-06-20 22:21] davidcheung commented on #6
https://github.com/strongloop/strong-error-handler/blob/4770af97aed0f6feb7661dd2aefd1e4cc44dbef4/test/handler.test.js#L360
is this behavior expected? if we change it it will be breaking change?

[2016-08-03 07:20] Discountrobot opened #17 "Custom JSON response content"
Hello.

I'm required to return error responses in the below format

[code]

But currently [send-json.js](https://github.com/strongloop/strong-error-handler/blob/master/lib/send-json.js#L9) restricts us to the below format

[code]

Is there a solution to this that does not involve me maintaining multiple forks?

Thanks

[2016-08-19 22:47] crandmck opened #21 "[strong-error-handler] Documentation impact"
Added https://docs.strongloop.com/display/APIC/Using+strong-error-handler that incorporates the README content.

From @loay:
- The express error-handler was basically meant for development modes and we had to add few properties to disable stack traces in our Loopback modules in order to prevent leaking sensitive information. Strong-error-handler works for both environments as written in the descri

[2016-08-29 19:46] crandmck commented on #21
@loay Please confirm that this is added in `loopback` v. 2.31.0.

Also confirm that I should note in [config.json / remoting properties](https://docs.strongloop.com/display/APIC/config.json#config.json-Remotingproperties) that disabling stack traces with
[code]
is only recommended with pre-2.31.0 versions.

[2016-09-06 16:36] bajtos commented on #21
"errorHandler": {
      "disableStackTrace": false
    }

@crandmck it is recommended for all 2.x versions. `disableStackTrace` was removed in 3.x only. See https://github.com/strongloop/strong-remoting/blob/0cfb6cbc634c46664f806bdd219b8788a2ec18f1/3.0-RELEASE-NOTES.md#new-error-handler-for-rest-adapter

Now I see that release notes don't include instructions for upgrading from 2.x to 3.x, we need

[2016-09-23 15:56] squirrelsRduck opened #23 "How to use in a non-express app?"
Is this only compatible with express?

[2016-10-25 18:32] davidcheung commented on #23
yes,
for example it expects queries to be parsed into `req.query` https://github.com/strongloop/strong-error-handler/blob/613c7209d3a2c5d9d6d1c5bf6bbe8d14cbe89efe/lib/content-negotiation.js#L59

for now i believe the only code that is not compatible with `http-server`, but going forward there is possibility of more assumptions of it being an express app.
@bajtos thoughts?

[2016-10-26 11:53] bajtos commented on #23
Yes, this module is compatible with express only so far.

@squirrelsRduck What server are you using?

[2016-10-26 11:56] bajtos commented on #17
Hi @Discountrobot, we don't allow custom JSON error responses right now.

When we were designing this module, we had an idea to allow custom JSON serialization, see  https://github.com/strongloop/strong-error-handler/issues/8. I think it should be reasonably easy to extend that idea to support your use case too.

Can you contribute this feature yourself?

[2016-10-26 14:04] squirrelsRduck commented on #23
regular node.js server, non-express, with loopback.

[2016-10-26 14:10] squirrelsRduck commented on #23
Does that JSON in the readme cover all such setup if using Loopback?  Or is there some other config also required?

[2016-10-28 02:14] celicoo opened #28 "Choosing language"
Is it possible to use portuguese for the error messages?

Thanks!

[2016-10-29 17:39] davidcheung commented on #23
@squirrelsRduck oh, loopback is actually an express application, so yes it does work with strong-error-handler, the newest scaffolding in loopback 3.0 will use strong-error-handler, and strong-remoting 3.0 as well (for your endpoints). There are some notable changes (non-backwards compatible).

If you want the api endpoints to return errors to end-user using strong-error-handler the JSON in the re

[2016-10-31 20:11] squirrelsRduck commented on #23
@davidcheung ok, thanks.

[2016-10-31 20:11] #23 closed

[2016-11-16 23:10] ebarault commented on #21
in [Migrating to 3.0 note](http://loopback.io/doc/en/lb3/Migrating-to-3.0.html), it is stated that one shall set in **config.json**
[code]
and in **middleware.json**
[code]

but i can't find any impact of the latest on the overall app behavior. Removing the config lines in middleware.json does work the exact same way. I'm confused about the requirement to have this config in middleware.json. Migra

[2016-11-16 23:46] crandmck commented on #21
@loay  @bajtos ^ ... ?

[2016-11-22 13:27] bajtos commented on #21
[code]

Ah, that part is not correct. We should disable the built-in error handler completely, as can be seen in the template used for new projects ([source](https://github.com/strongloop/loopback-workspace/blob/27572451152fdcadf15de6f3ab4b11316a3f27a0/templates/projects/empty-server/data.js#L67-L83)):

[code]

Is this a reserved file name?

LoopBack uses `development` as the default value when NO

[2016-11-24 16:51] ebarault commented on #21
hey @bajtos
i had already tried to set `handleErrors: false` in config.json
the thing is, whatever i put in config.json, the params i set in middleware.json have absolutely no effect.
[code]
does not disable logs and does not enable detailed debug info over rest

---
as for setting NODE_ENV=development : ok, makes sense. but it's not sufficiently clear in the doc i guess

[2016-12-05 13:29] bajtos commented on #21
Well, I am afraid I have run out of obvious advices I can give. Could you please create a small app reproducing the issue (see http://loopback.io/doc/en/contrib/Reporting-issues.html#bug-report) and open a new issue in https://github.com/strongloop/loopback/issues?

[2016-12-05 13:31] bajtos commented on #21
@ebarault  I see. Can you advise us how to make this fact more clear? Or perhaps even better, send a pull request with the proposed changes to https://github.com/strongloop/loopback.io?

[2016-12-05 13:36] ebarault commented on #21
--> :stuck_out_tongue_winking_eye:
ok, will provide a demo app

about doc : ok, will do

[2016-12-09 00:49] siddhipai opened #32 "Ci failures for downstream loopback-workspace/dashboard-controller"
see https://github.com/strongloop/strong-error-handler/pull/31

[2016-12-09 01:38] superkhau commented on #32
Looks like downstreamIgnore issue.

[2016-12-09 19:40] #32 closed

[2016-12-19 22:41] loay opened #34 "Migration documentation confusion"
The migration from express error handler to strong-error-handler is a bit confusing. It needs more careful review, and proper steps in order to ensure proper migration.
The code snippets in the migration guide need to state when and where to be used.
What is the default option and what is a requirement and what is not.

The ```handleErrors: false ``` part needs to be stated where and when to be us

[2016-12-29 15:42] ssh24 commented on #28
Hi @celicoo

Yes, it is possible. Make sure to have your machine's primary language set to Portuguese. Once that is done, restart your terminal and try out any command which might give an error.

For example, try to create a loopback application with unexpected symbols on it:
[code]

Please let me know if this answered your question.

[2017-01-03 15:59] ebarault commented on #21
@bajtos :

am i right to think that this statement should apply application wide?

at the moment with latest loopback v3, the file datasources.json seems mandatory, even if my app has a datasources.development.json file and is run with no NODE_ENV set or NODE_ENV set to developement

`WARNING: Main config file "datasources.json" is missing`

see this very basic sandbox if you will : https://github

[2017-01-04 13:20] bajtos commented on #21
Yes, `datasources.json` are mandatory. In fact, all configuration files (`config`, `model-config`, `datasources`, etc.) require the main `.json` file to be present, even if there are environment-specific overrides. Loosely related discussions: https://github.com/strongloop/loopback-boot/issues/80 and https://github.com/strongloop/loopback-boot/pull/71.

IIRC, the code merging `datasources.json` an

[2017-01-04 13:22] bajtos commented on #21
To be more precise, this applies to all things loaded via `loopback-boot@2`, see https://github.com/strongloop/loopback-boot/blob/9cb3d0648b7d39e17e1e3e47ff26a098c44a3754/lib/compiler.js#L40.

[2017-01-04 13:43] ebarault commented on #21
thanks for digging into it @bajtos. Clarifications are much appreciated.
Just to be exhaustive: regarding

this is not the case: if i have just `{}` in datasources.json, all datasources in datasources.development.json are set up

[2017-01-04 14:37] bajtos commented on #21
@ebarault You are right, the behaviour was changed in July 2015 by https://github.com/strongloop/loopback-boot/pull/143. I was not invited to review that patch, which explains why I was not aware of this change.

[2017-01-09 20:46] davidcheung commented on #4
- [ ] update docs to reflect XML error output is supported

[2017-01-30 13:14] bajtos commented on #7
Implemented by #37.

[2017-01-30 13:14] #7 closed

[2017-01-30 19:32] PaddyMann opened #40 ""Unhandled error" logged for errors that have been handled correctly (e.g. a validation error)"
### Description of feature (or steps to reproduce if bug)

With the introduction of strong-error-handler in 3.0, we're seeing validation and access errors logging an "Unhandled error" to console. We consider the error to have been handled correctly, and so would like an easy way to suppress these messages for certain error codes (potentially all 4xx). I think this should be the default behavior -

[2017-01-30 20:19] doublemarked commented on #40
These errors can be suppressed by disabling the error handler's logging, by setting `log: false` in your middleware.json file. Per the README:

[2017-01-30 22:07] crandmck commented on #21
Is there anything further we need to add/change in the docs?

[2017-01-31 21:30] PaddyMann commented on #40
I've tweaked my post above to indicate it's a feature request rather than a bug, and that - while I would prefer this to be the default behavior - it should at least be customizable.

The `log: false` option is weak - it hides both server and client errors. We want to see server errors but not client errors, and I suspect this would be what a large number of other users would want / expect to see

[2017-02-01 08:32] doublemarked commented on #40
@PaddyMann I think I agree with you, logging 4xx and 5xx errors like they are the same thing is flawed logic. Perhaps the `log` directive should be expanded to allow you to match which types of errors should be logged. So you can do something like `log: { statusCode: "^5", message: "whatever" }`

[2017-02-01 09:30] PaddyMann commented on #40
That'd be great.

We'd set it up with something like:

    log: [
      {"statusCode": "^4", "mute": true},
    ]

[2017-02-01 10:09] PaddyMann commented on #40
Hmm, seems that there could be some issues with the wrong status codes being used.

If a method doesn't exist, a 404 is currently returned.

    { Error: Shared class  "xxx" has no method handling GET /xxx }

This should return a 501.

I guess this is a separate issue to be resolved though.

[2017-02-01 19:13] #4 closed

[2017-02-02 17:35] michaelfreund commented on #3
+1

[2017-02-03 06:05] michaelfreund commented on #3
what about something like

[code]

[2017-02-13 15:31] ssh24 commented on #28
@celicoo Did you try fixing the issue with the way I specified?

[2017-02-14 01:55] celicoo commented on #28
Hei @ssh24 , thanks for the help and i'm sorry for letting you wait! I dropped strongloop.

[2017-02-14 07:05] loopdtw commented on #40
Would love to get an update on this as well. I'm using native methods such as create, but if I mute the logs, then I wouldn't even know if it was because of an duplicate id sql error.

On a side note, I'm using strong-error-handler with loopback (as I suspect most others are as well). If we did unmute these, is there any correct way in handling native loopback methods?

[2017-02-14 07:12] loopdtw opened #45 "Safefields doesn't work with "array of errors""
### Description of feature (or steps to reproduce if bug)

Using loopback as an example, we can call POST with /users with an array of objects repeatedly such as below
[code]

with this middleware config:
[code]

### Expected result
[code]

### Actual result (if bug)
[code]

### Additional information (Node.js version, LoopBack version, etc)
 "loopback": "^3.0.0",
 "strong-error-handler": "^1.0.1"

[2017-02-14 14:52] ssh24 commented on #28
Ok, closing this issue as a result of that.

[2017-02-14 14:52] #28 closed

[2017-02-22 12:40] SynerG commented on #45
Just in case, version 1.0.1 did not yet implement the 'safeFields' feature. So check that you really have a suitable version installed (version 1.2.1 includes the 'safeFields feature).
I haven't checked if this issue actually happens in 1.2.1 though.

[2017-02-28 18:03] charlie-s opened #46 "Incorrect comment for negotiateContentProducer"
### Description of feature (or steps to reproduce if bug)

`negotiateContentProducer` in `lib/content-negotiation.js` has its arguments in the incorrect order. It lists them in the comments as `req, options, logWarning` but in the signature as `req, logWarning, options`.

[2017-02-28 18:29] charlie-s commented on #3
See my attempt to roll this in: https://github.com/charlie-s/strong-error-handler/commit/c2335b34d213eaa2d8f3f658e957401ec4dcc036

[2017-03-13 09:56] bajtos commented on #40
Hello, thank you for reporting this issue and thank you @doublemarked for helping out!

I understand the desire to hide 4xx (client) errors from the console output, I agree it's a reasonable request.

OTOH, there is also a good argument for logging both 4xx and 5xx errors too: When users encounter an unexpected 4xx error in the client and call the support to get the problem resolved, they are usua

[2017-03-13 09:56] #40 closed

[2017-03-13 09:56] bajtos commented on #17
Closing as a duplicate of #8

[2017-03-13 09:56] #17 closed

[2017-03-13 10:00] bajtos commented on #45
Hello, I agree this is a bug. I am afraid we don't have bandwidth to fix it ourself in the near future, would you like to contribute the patch yourself?

[2017-03-13 10:02] bajtos commented on #46
@charlie-s thank you for reporting the problem. I think this is a great opportunity for new contributors to send their first pull request. Would you like to do that yourself?

[2017-03-13 10:09] bajtos commented on #21
I think this is ok to be closed.

@ebarault if you think our documentation still needs changes, then please open a new issue.

[2017-03-13 10:09] #21 closed

[2017-03-13 10:12] bajtos commented on #34
I am not sure if this is still relevant, see the discussion in #21 and https://github.com/strongloop/loopback-workspace/pull/372 which fixed the location of `handleErrors: false` in our project templates.

[2017-03-13 15:41] charlie-s commented on #46
Thanks bajtos, issued PR #49.

[2017-03-13 15:48] loay commented on #34
The discussion in https://github.com/strongloop/strong-error-handler/issues/21 covered it
closing the issue.

[2017-03-13 15:48] #34 closed

[2017-03-13 16:21] #46 closed

[2017-03-13 16:44] charlie-s commented on #3
Using the above configuration and a function like

[code]

would this help address #6 as well?

[2017-03-30 10:47] rajneshthakur-cgvak opened #52 "debug false not working in middleware"
### Bug or feature request

- [ ] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)

### Link to sample repo to reproduce issue (if bug)

### Expected result

### Actual result (if bug)

### Additional information (Node.js version, LoopBack version, etc)

[2017-03-30 10:50] rajneshthakur-cgvak commented on #52
{
  "final:after": {
    "strong-error-handler": {
      "params": {
        "debug": false,
        "log": false
      }
    }
  }
}
value change has no impact on result. it still showing full stack,details property.

[2017-03-30 12:17] rajneshthakur-cgvak commented on #52
{
  "restApiRoot": "/api",
  "host": "0.0.0.0",
  "port": 80,
  "remoting": {
    "context": false,
    "rest": {
      "normalizeHttpPath": false,
      "xml": false,
      "handleErrors": false
    },
    "json": {
      "strict": false,
      "limit": "100kb"
    },
    "urlencoded": {
      "extended": true,
      "limit": "100kb"
    },
    "cors": false,
    "handleErrors": false
  },
  "leg

[2017-03-30 12:17] #52 closed

[2017-04-13 21:16] luncht1me commented on #40
strong-error-handler... idk man.

It'd be nice to use since it seems to be convention.
But literally any remote method I write on a model, will always print 'UNHANDLED ERROR' in the server console, even though I'm clearly handling it and manually passing an error back through.

example:
[code]

strong-error-handler shouldn't be saying this is unhanded, I do believe this isn't the intended output.

[2017-04-17 16:46] luncht1me opened #54 ""Unhandled Error" for errors that have been handled properly."
See #40
This needs to be reopened and checked over.

[My comment at the bottom ](https://github.com/strongloop/strong-error-handler/issues/40#issuecomment-294023662) shows that this bug is still present.

When we're writing remote methods on our models and explicitly returning an error with a statusCode and a message back up to the client, strong-error-handler should not be saying that there is an

[2017-04-17 17:52] jmls commented on #54
yup, hit this as well

[2017-04-18 13:40] bajtos commented on #54
Thank you for providing more information, I am understanding the problem better now.

As I see it, there are two parts
 1. which errors to report (4xx, 5xx, or maybe only those with no explicit `statusCode` property)
 2. what message to print

As for 1), we have deliberately decided to always print all errors, nothing's changing there.

As for 2), I agree that prefixing the log message with "Unhan

[2017-04-22 10:40] jmls commented on #54
I don't know if this is related, but using promises in remotes also generates this type of error

[code]
spews out `Unhandled error for request PUT /Workspaces: StatusCodeError: 422 .... ` on the console.

Nope, sorry, I very definitely handled the error ;)

[2017-04-24 15:17] bajtos commented on #54
Rejecting a promise with an error is the same as calling `cb(err)` or `throw err`, so yes, it's related.

This may be subjective, but your code did not handle the error, it merely passed it down the `.then` chain for somebody else to handle it: LoopBack's strong-remoting block for handling errors reported by model methods and then `strong-error-handler` to render the error to the HTTP response.

I

[2017-06-09 01:36] airbinder opened #56 "Handle AssertionError as 4xx error (keep showing message even in production / debug false)"
### Bug or feature request

- [ ] Bug
- [x] Feature request

### Description of feature (or steps to reproduce if bug)

As of now, any error object that has no statusCode property will be handled as 5xx error and will not show error message in production.

This is a suggestion to show the message error for Assertion since the error thrown by assert is much used and not-so-simple to add statusCode

[2017-06-18 15:56] selfagency commented on #3
is this ever going to be implemented?

[2017-06-20 21:24] luncht1me commented on #40
Just to chirp in, this seems more directly related to a bug in loopback itself.
If I disable strong-error-reporting completely, and use the base lb3 errorhandling, this same behavior occurs. Even if strong-error-handler is installed, and both debug and log are false, the error will still popup, since the default is taking over.

To have strong-error-handler take over completely, still had to set
[

[2017-07-19 16:27] jmls commented on #54
ok, so I'm coming back to this because I am confused ;) Doesn't take a lot...

how am I supposed to return the error to the browser from my remote method using promises ?

[code]

[2017-08-03 14:30] bajtos commented on #54
@jmls

Your code looks correct to me. The remote method returns a promise that's eventually rejected, strong-remoting will treat this rejection as an error and strong-error-handler will convert this error into an HTTP error response (and log a message).

[2017-08-21 12:03] auguster opened #60 "Allow error 2xx transmission"
Hello World,

I'm writing an API that has long processing time, on some query I'd like to return a status 202 when request is pending and 201 when processing is done.

The problem I have is that strong-error-handler intercept the error < 400 and replace it by an error 500.

This is due to the line:
https://github.com/strongloop/strong-error-handler/blob/0ee193bb618f7d6a007d51f0c99e782a07d4093e/lib

[2017-08-21 13:00] bajtos commented on #60
Hello, how are you returning the status code? strong-error-handler is executed only when the request failed with an error (i.e. a middleware called `next` with the first argument set, a LoopBack remote function passed an error in the first `callback` argument, etc.)

IMO, when request processing failed with an error, then the HTTP response should have one of error status codes too. If your request

[2017-08-21 13:25] auguster commented on #60
Ok, thanks and sorry for the invalid issue.

[2017-08-21 13:51] bajtos commented on #60
No worries!

I am happy to help you to find a good solution for your use case, let me
know if you need any more guidance.

[2017-09-19 14:27] IgorVanian commented on #45
2.2.0 not working aswell

[2017-09-28 18:01] sjawhar opened #63 "Add config option to log errors on a single line"
Currently, the stack trace is printed out on separate lines. When using Docker and a log aggregator, it results in one error being split across multiple lines. I believe by adding a config option (`logFormat`, maybe?, with possible values of `default` and `json`), this can all be condensed to a single line.

I plan to open a PR soon, if this idea is not abhorrent to anyone.

I will focus on this f

[2017-10-20 16:30] charlle commented on #40
@luncht1me I believe this is related to this function [convertNullToNotFoundError](https://github.com/strongloop/loopback/blob/083fb5d6688280118d6cc919e3584c3819c81848/lib/persisted-model.js#L83) in persistedModel.js, which only applies to findOne and findById. I don't receive the logging error when I request a find. I just receive an empty array, so this is consistent with my results. Creating th

[2017-11-03 09:03] steampixel opened #66 "404 Not found XSS (Cross Site Scripting Issue)"
Hi,

I am not sure if this issue belongs to strongloop or the strongloop error handler:

You can simply generate XSS-links by using the error handler. For example:

`http://your-app.com/api/containers/images/download/<img onerror=alert(1) src=a>`

This will produce an HTML document containing the image and the js-code in the error-title. If debug is set to true in the middleware the code gets rend

[2017-11-03 09:27] steampixel commented on #66
Temporary solved the problem by using the defaultType "json" and setting negotiateContentType to false. So my app will response with json code instead of html:

[code]

[2017-11-22 18:05] zmetcalf commented on #66
I have a feeling the XSS is coming from LoopBack not sanitizing the error messages that it creates. Thanks for the tip on the defaultType and negotiateContentType.

[2018-01-05 22:07] raymondfeng commented on #66
@bajtos Can you check how to avoid this?

[2018-01-07 17:33] Drulac opened #68 "Use template-literal instead of EJS"
[Template Literal](https://github.com/Drulac/template-literal) is fastest, smallest and simplest template engine, because it use JS's literal template feature,

It's  55 times faster than EJS, and it also use less CPU and RAM ressources, so it may be a good idea to use it instead of EJS 😀

[2018-01-08 13:30] bajtos commented on #66
This is a bug in our template (see [views/default-error.ejs](https://github.com/strongloop/strong-error-handler/blob/4c69370751755c0eb1a96e30a7f62182704839ba/views/default-error.ejs)) which is incorrectly using EJS's `<!-` (_Outputs the unescaped value into the template_) instead of `<!=` (_Outputs the value into the template (HTML escaped)_).

@steampixel @zmetcalf would you like to contribute th

[2018-01-08 13:32] bajtos commented on #68
@Drulac thank you for the suggestion. How does your module handle HTML escaping of the dynamic values? (See https://github.com/strongloop/strong-error-handler/issues/66.)

To be honest, I am rather reluctant to use a new module that haven't been tested by time and usage.

[2018-01-08 13:34] bajtos commented on #63
@sjawhar thank you for the suggestion and sorry for not responding earlier. Our log format is intentionally kept rigid. Please use a custom error logging middleware if you want a different format of error log messages - see https://github.com/strongloop/strong-error-handler#customizing-log-format

[2018-01-08 13:34] #63 closed

[2018-01-08 13:40] bajtos commented on #56
If the request is missing a required field (`userId` in your example), then your application should respond with an error code in 4xx range (400 Bad Request, [422 Unprocessable Entity](https://httpstatuses.com/422)), in which case strong-error-handler includes some level of details in the error response.

If the request was valid, but there is a bug in the server application, then there is nothing

[2018-01-08 13:40] #56 closed

[2018-01-08 18:28] Drulac commented on #68
My module don't handle nothing, you should did it before inserting data into :-)

I understand

[2018-01-16 18:26] zmetcalf commented on #66
Np @bajtos, I will take a look at it soon.

[2018-01-25 13:39] bajtos commented on #66
Fixed in `strong-error-handler@2.3.1`. Kudos to @zmetcalf for contributing the fix ❤️

[2018-01-29 02:17] atherdon opened #70 "issue with deploying to heroku"
# Description/Steps to reproduce
i'm running an app and get an issue:
[code]
and everything works fine on local machine

**Note** i figure it out, but maybe it'll be helpful for you - it works well with node v.9.4.0 and crashing when i use node v.8.1.4

# Link to reproduction sandbox

# Expected result

# Additional information

[2018-03-05 03:27] zbarbuto opened #71 "Safe fields can overwrite status code property"
Safe fields introduced in #41 allow a `safeFields` array in options to copy properties from an error to the response payload in production mode.

If the `safeFields` array contains `statusCode`, then 500 type errors (which don't have a status code on them) will cause `undefined` to be copied to the response json payload, resulting in an undefined status code and an error from express.

Either the

[2018-03-05 08:58] #71 closed

[2018-03-05 08:59] bajtos commented on #71
The fix is available in `strong-error-handler@2.3.2`

[2018-06-11 15:11] #45 closed

[2018-06-11 15:14] shimks opened #75 "New release"
From #73
- After the release:
 - Update places like `loopback-workspace` (both package.json and templates), `loopback-sanbox` to use the new major version of strong-error-handler.
 - The same applies to other dependents - `loopback` dev-dependencies, `strong-remoting` dev-dependencies, etc.

[2018-06-12 00:41] dhmlau commented on #75
`3.0.0` is released.

[2018-06-13 16:35] shimks commented on #75
closing as done

[2018-06-13 16:35] #75 closed

[2018-07-27 12:34] a-legrand commented on #54
Same here,
using loopback-component-storage trying to upload a document that exceed max file size

[2018-08-22 15:57] shimks opened #78 "Support `expose` property of http-errors"
# Description/Steps to reproduce

As brought up in strongloop/loopback-next#1598, `strong-error-handler` should be able to support `expose` property set in errors thrown with `HttpError` from [`http-errors` module](https://www.npmjs.com/package/http-errors).

Its interaction with the `debug` setting in strong-error-handler is yet to be decided.

[2018-09-06 05:48] louiepiol commented on #66
Hi is there any way to escape also json result?
current result:

[code]
expected result:

[code]

[2018-09-06 07:12] bajtos commented on #66
You should intercept and encode the message before rendering it in your HTML page. IMO, you should use HTML escaping instead of `encodeURI`. This escaping is typically handled by front-end frameworks like jQuery/Ember/React/Angular/Vue/etc.

If you are composing the HTML snippets by string concatenation (which you really should not!), then you may find the following trick useful:

[code]

It reall

[2018-09-06 07:33] louiepiol commented on #66
I'm using the default error messaging of this library and didn't pass on vulnerability scan.

the return json object:
[code]

is there anyway to escape the url parameters returned in error message or the error message itself?

[2018-09-06 07:54] steampixel commented on #66
Hm. I think it's dangerous to not escape the error message by default. That would mean that nobody generally could trust error responses from the server backend. In my opinion, this should actually be escaped because it is an error message and not app content. It should not contain any HTML. What about users not keeping in mind that they have to escape the response? They would run into the same vu

[2018-09-10 16:35] bajtos commented on #66
@louiepiol

Could you please be more specific? What tool do you use for vulnerability scanning? Was it the entire application including front-end that did not pass the scan, or was the backend found vulnerable? What library are you using to render the errors received from the server?

Honestly, the request made in this issue makes little sense to me based on my current knowledge of security best p

[2018-09-11 02:50] louiepiol commented on #66
@bajtos

I'm using Nessus® Professional for vulnerability scanning, the issue was on backend and for the library I'm using default error handler of loopback which `strong-error-handler`.

I ended up with forking `strong-error-handler` and encode character that can used for xss scripting.

Thank you for your responses and suggestion.

[2018-09-11 08:16] steampixel commented on #66
@bajtos I think I did not express myself correctly. Not all incoming replies from a server are trusted. I agree with you on this point. And not all outgoing answers should be escaped by default. However, the server/router alone is responsible for the content of the error messages since there is normaly no third party code included. The question is why the server already trusts incoming requests bl

[2018-09-14 08:36] bajtos commented on #66
@louiepiol

Does Nessus offer any more information about the vulnerability found, perhaps pointing to a public web page where I could learn more about the reasoning? I would love to understand why Nessus considers are default error handler vulnerable.

I was trying to look it up on Tenable website, but with no luck. Here is the query I used: https://www.tenable.com/plugins/search?q=xss%20404&sort=

[2018-09-14 09:51] steampixel commented on #66
Hey,

@bajtos: Thank you for opening the discussion at https://github.com/expressjs/express/issues/3746. Let's see if there are any good arguments agains this implementation.

I digged a bit into the rfc3986 standard (https://tools.ietf.org/html/rfc3986) and also readed the conclusions at https://www.w3schools.com/html/html_urlencode.asp
I'am a little bit confused right now^^ I think you are right

[2018-09-14 12:35] bajtos commented on #66
FWIW, w3school used to be rather untrustworthy in the past. See http://www.w3fools.com and https://meta.stackoverflow.com/questions/280478/why-not-w3schools-com. Looks like they have improved since 2011, so this may not be a concern anymore.

I am afraid I read the standard differently. My understanding is that only the following characters are allowed:

- ":" / "@" (see `pchar` definition)
- `ALP

[2018-09-14 15:37] virkt25 commented on #66
Wow, this discussion required a bit of catching up and reading up, but now that it's done I want to chime in with my opinion after also having discussed this issue further offline with others who are knowledgable in application / product security across the entire stack.

---

Firstly I want to emphasize that I don't think there is a XSS security risk here, not one introduced by this module or the

[2018-09-17 01:32] louiepiol commented on #66
@bajtos @virkt25

Here's the link for Nessus vulnerability test issue.
[Web Server Generic XSS](https://www.tenable.com/plugins/nessus/10815)

An internal strong-error-handler APIs public sounds good to me.

My project was to create a public API so it should taking care of by the backend.

[2018-09-17 12:29] bajtos commented on #66
Thanks @louiepiol for a link to _Web Server Generic XSS_. Unfortunately the vulnerability is described in such generic terms, that I cannot really tell why exactly Nessus is considering our current implementation as not secure :(

Thank you @virkt25 for a thoughtful comment. I fully agree with all arguments you made and the proposal to let LoopBack users to create a custom middleware that can vali

[2018-09-17 12:29] #66 closed

[2018-11-21 15:40] mihir83in opened #80 "Duplicate fields status and statusCode on error json payload"
I am using swagger-express-middleware to validate incoming requests with loopback remote methods.
When swagger-express-middleware request-validator fails, it raises an error object with error.status being the response status code (i.e. 5xx, 4xx).

The error is then propagated through strong-error-handler which fills in status code again through

[code]

the original error is then cloned in

[code]

[2019-01-10 04:30] blankstar85 opened #81 "Security Vulnerability in Strong-Globalize"
# Description/Steps to reproduce

npm install strong-error-handler, then npm audit

shows vulnerability in lodash in dependancy strong-globalize

# Link to reproduction sandbox

N/A

# Expected result

no vulnerabilities

# Additional information

reported in strong-globalize https://github.com/strongloop/strong-globalize/issues/139

Should update dependancy once udpated.

[2019-01-10 16:55] jannyHou commented on #81
@blankstar85 Thanks for catching it. I will take a look and update the dependency.

[2019-01-18 14:26] #81 closed, assigned to jannyHou

[2019-01-20 13:00] blankstar85 commented on #81
I'm still getting this, I deleted my node_modules file and did an npm install.
this is what i have in my package.json
    "strong-error-handler": "^3.2.0",

[2019-01-25 10:07] bajtos commented on #80
Hi @mihir83in, thank you for reporting these issues.

In general, I believe the behavior you are describing is exhibited only in the `debug` mode, where the handler tries to print as much information as possible to make troubleshooting easier.

Could you please confirm that the problem goes away when the debug mode is disabled?

I guess we can handle `status` and `statusCode` in a special way, and

[2019-05-30 08:13] trishtzy opened #83 "Customize XML response"
# Description/Steps to reproduce
Hi, is it possible to extend xml error response to include custom messages instead of the current error template?
[code]
in `lib/send-xml.js`

and the error message used is:
[code]

# Link to reproduction sandbox

# Expected result

[code]

# Additional information

[2019-05-31 07:41] trishtzy commented on #83
Used [patch-package](https://www.npmjs.com/package/patch-package) instead. Closing issue.

[2019-05-31 07:41] #83 closed

[2019-07-23 19:20] dhmlau commented on #6
Closing due to inactivity.

[2019-07-23 19:20] #6 closed

[2019-09-03 20:23] dkrantsberg opened #84 "TypeError: Converting circular structure to JSON"
# Description
I have enabled debug error output in my LoopBack 4 application by setting RestBindings.ERROR_WRITER_OPTIONS.
After this some errors resulted in no output at all. Just 500 response with zero content.

After some digging I've found that JSON.stringify was failing on circular references and it was taking the entire node process down.  Thanks to pm2 it was automatically restarting.

Here

[2019-11-16 22:40] dhmlau commented on #84
Closing as done as PR #85 has landed. Thanks @dkrantsberg for your contribution!

[2019-11-16 22:40] #84 closed

[2020-01-03 13:24] ShubhamRK96 opened #88 "How can i get an single error message from loopback error body"
I want that if any validation breaks, then it should break my code and return with proper error message.

I used inbuilt validation function as below:

[code]

I have tried this with promise and callbacks too but result is negative.

![image](https://user-images.githubusercontent.com/59476797/71725526-481cc200-2e5a-11ea-857d-5c8a827308ed.png)

I want that if my mobile no validation is true then on

[2020-02-26 13:04] kenma9123 commented on #54
just bumped on this problem. Any other workarounds? I've been looking even at page 2 of google and no joy. Still getting the annoying `Unhandled error for request GET` error even though its just a simple error test.

[code]

Dependencies
[code]

[2020-03-06 14:42] bajtos commented on #54
See my earlier https://github.com/strongloop/strong-error-handler/issues/54#issuecomment-294847500 for an actionable proposal.

Any volunteers to contribute that change?

[2020-03-09 10:11] #80 closed

[2020-03-09 10:12] bajtos commented on #70
Closing this issue as resolved then. Node.js 8.x is no longer supported by the project.

[2020-03-09 10:12] #70 closed

[2020-03-09 10:18] bajtos commented on #88
@ShubhamRK96 IIUC, you would like to change the error message observed by your mobile application when calling LoopBack REST API, is that correct?

IMO, such transformation should be applied at the client side, inside your mobile application. LoopBack is providing a comprehensive error response with enough details to enable all kinds of clients to deal with the problem. Different clients require d

[2020-03-09 10:18] #88 closed

[2020-03-09 10:18] #68 closed

[2020-05-11 06:34] ShubhamRK96 opened #89 "How to serve static file without passing from auth"
I want to serve static files without passing the request from the auth in middleware.

In middleware.json
  "session": {},
  "auth": {
    "./middleware/checkAuth": {}
  },
  "parse": {},
"files": {
    "loopback#static":
      {
        "name": "images",
        "paths": [
          "/assets/images"
        ],
        "params": "$!../assets/images"
      }

I want to bypass auth for serving stati

[2020-10-13 07:49] #54 closed

[2020-10-13 07:51] bajtos commented on #54
Published the changes in `strong-error-handler@4.0.0`.

[2021-09-03 17:34] andresmatasuarez commented on #54
I'm aware of the changes introduced in `strong-error-handler@4.0.0` and I do like the logging of "Request failed" instead of the confusing "Unhandled error", but if you still don't want anything logged at all, you can do something like the following:

`middlewares.json`:
[code]

Create the `skipHandledErrors.js` file:
[code]

Now, for each error you handle explicitly, just add a property `hasBeenH

[2022-03-30 07:57] renovate[bot] opened #101 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Rate Limited

These updates are currently rate limited. Click on a checkbox below to force their creation now.

 - [ ] chore: update dependency debug to ^4.3.4
 - [ ] chore: update dependency ejs to ^3.1.6
 - [ ] chore: update dependency express to ^4.17.3